:root {
    --background-nav: black;
    --text-color: Whitesmoke;
    --text-hover: #f8c84e;
}

body {
    background-color: #04007C;
    /* background-color: linear-gradient(to top, #04007C, #0800FF); */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--background-nav);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
  width: auto;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: black;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--text-hover);
}

nav ul.active {
    display: flex;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
}

.burger {
    cursor: pointer;
    font-size: 1.2em;
    display: none;
}

@media screen and (max-width: 678px) {
    header h1 {
        font-size: 2rem;
    }

    .burger {
        display: block;
    }

    #main-nav > .menu {
        margin: 0;
        background: #343434;
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        z-index: 1;
        transition: right 0.33s;
    }

    .menulink {
        font-size: 1.2rem;
        text-align: center;
    }

    #main-nav > .menu.menu-show{
        right: 0;
    }
}